<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>618786705474-m61eoqhlcga1re2th4si5hb7uobk2feo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.618786705474-m61eoqhlcga1re2th4si5hb7uobk2feo</string>
	<key>API_KEY</key>
	<string>AIzaSyBA-2fjcrSTGfCVtG3BNYnKk7HpcANspT0</string>
	<key>GCM_SENDER_ID</key>
	<string>618786705474</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.nuvention.coinscious</string>
	<key>PROJECT_ID</key>
	<string>celosia-teamc</string>
	<key>STORAGE_BUCKET</key>
	<string>celosia-teamc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:618786705474:ios:686a410378d237d2</string>
	<key>DATABASE_URL</key>
	<string>https://celosia-teamc.firebaseio.com</string>
</dict>
</plist>