<!-- Generated template for the MenuComponent component -->
<ion-menu [content]="content" type="overlay" class="menu">
  <ion-header>
    <ion-toolbar>
      <ion-title class="toolbar-title" (click)="resetDemoData()">Coinscious</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <button ion-item (click)="unbindAccount()" *ngIf="_linkedCredential">
        <ion-avatar item-start>
          <ion-icon name="remove-circle"></ion-icon>
        </ion-avatar>
        Unbind Account
      </button>

      <button ion-item (click)="goToTransDetailPage()" *ngIf="_linkedCredential">
        <ion-avatar item-start>
          <ion-icon name="remove-circle"></ion-icon>
        </ion-avatar>
        Analysis
      </button>

      <button ion-item (click)="goToDetailPage()" *ngIf="_linkedCredential">
        <ion-avatar item-start>
          <ion-icon name="remove-circle"></ion-icon>
        </ion-avatar>
        Summary
      </button>

      <button ion-item (click)="goToDashboardPage()" *ngIf="_linkedCredential">
        <ion-avatar item-start>
          <ion-icon name="remove-circle"></ion-icon>
        </ion-avatar>
        Inbox
      </button>

      <button ion-item (click)="unbindAccount()" *ngIf="_linkedCredential">
        <ion-avatar item-start>
          <ion-icon name="remove-circle"></ion-icon>
        </ion-avatar>
        Unbind Account
      </button>


      <button ion-item (click)="signOut()">
        <ion-avatar item-start>
          <ion-icon name="log-out"></ion-icon>
        </ion-avatar>
        Sign Out
      </button>
    </ion-list>
  </ion-content>
</ion-menu>