transaction-item {
  .trans-item {
    border-radius: 2px;
    box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.08);
    margin: 10px 0;
    padding: 10px 0 10px 16px;

    .trans-item-content {
      display: inline-block;
      width: calc(100% - 120px);

      .trans-item-title {
        font-size: 14pt;
      }

      .trans-item-text {
        font-size: 11pt;

        // margin-bottom: 1em;
        margin-top: .3em;
      }
    }

    .trans-item-buttons {
      display: inline-block;
      position: relative;
      right: -10px;
      top: -16px;
      margin-bottom: -16px;
    }
  }
}
