<!-- Generated template for the TransactionItemComponent component -->
<div class="trans-item">
  <div class="trans-item-content">
    <div class="trans-item-title">{{_transaction.name}}</div>
    <div class="trans-item-text">{{_transaction.amount > 0 ? "-":""}}${{abs(_transaction.amount).toFixed(2)}}</div>
  </div>
  <div class="trans-item-buttons">
    <!-- <button ion-button icon-only clear (click)="approve()">
      <ion-icon name="thumbs-up"></ion-icon>
    </button> -->
    <button ion-button icon-only clear (click)="flag()" *ngIf=_transaction.love>
      <ion-icon name="md-heart"></ion-icon>
    </button>
    <button ion-button icon-only clear (click)="flag()" *ngIf=!_transaction.love>
      <ion-icon name="md-heart" class="break"></ion-icon>
      <ion-icon name="md-flash" class="flash"></ion-icon>
    </button>
  </div>
</div>