<!-- Generated template for the TransactionItemComponent component -->

<ion-item-sliding #item (ionDrag)="onDrag(item, $event)">
  <ion-item class="trans-item">
    <div class="trans-item-content">
      <div class="trans-item-title">{{_transaction.name}}</div>
      <div class="trans-item-text">${{abs(_transaction.amount).toFixed(2)}}</div>
    </div>
    <div class="trans-item-buttons">
      <button ion-button icon-only clear (click)="approve(item)" *ngIf=_transaction.love>
        <ion-icon name="md-heart"></ion-icon>
      </button>
      <button ion-button icon-only clear (click)="flag(item)" *ngIf=!_transaction.love>
        <ion-icon name="md-heart" class="break"></ion-icon>
        <ion-icon name="md-flash" class="flash"></ion-icon>
      </button>
    </div>
  </ion-item>
  <ion-item-options side="left" (ionSwipe)="onLikeSwipe(item, $event)">
    <button ion-button color="secondary">
      <ion-icon name="md-heart"></ion-icon>
      Like
    </button>
  </ion-item-options>

  <ion-item-options side="right" (ionSwipe)="onDislikeSwipe(item, $event)">
    <button ion-button color="danger">
      <ion-icon name="md-heart" class="break"></ion-icon>
      <ion-icon name="md-flash" class="flash"></ion-icon>
      Dislike
    </button>
  </ion-item-options>
</ion-item-sliding>