<!--
  Generated template for the DashboardPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Centsei</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="updateTransactions()">
        <ion-icon name="repeat"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <div>
    Your Points {{_point}}
  </div>

  <h2>New Purchases</h2>
  <div class="empty-msg" *ngIf="!_transactions || _transactions.length == 0">
    No transactions.
  </div>
  <transaction-item *ngFor="let t of _transactions" [data]=t [isFlag]=false (onApprove)="onApprove($event)"></transaction-item>

  <h2>Flagged Expenses</h2>
  <div class="empty-msg" *ngIf="!_flaggedTransactions || _flaggedTransactions.length == 0">
    No flagged Expenses.
  </div>
  <transaction-item *ngFor="let ft of _flaggedTransactions" [data]=ft [isFlag]=true></transaction-item>

</ion-content>