<!--
  Generated template for the DashboardPage page.
  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header *ngIf="!_isLoading">

  <ion-navbar>
    <ion-buttons left *ngIf="_linkedCredential">
      <button ion-button icon-only (click)="showMenuActions()">
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title>Coinscious</ion-title>
    <!-- <h3>Coinscious</h3> -->

    <ion-buttons right>
      <button ion-button icon-only (click)="signOut()">
        <ion-icon name="log-out"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<div class="loading" *ngIf="_isLoading">
  <h4><ion-spinner></ion-spinner> Loading</h4>
</div>

<!-- <div *ngIf="!_linkedCredential">
  {{_demoText}}
</div> -->


<div class="brief" *ngIf="!_isLoading && _signedIn && _linkedCredential" (click)="goToDetail()">
  <h4>
   This Month
   <span>
     <span>
       <ion-icon class="brief-heart-break" name="md-heart"></ion-icon>
       <ion-icon name="md-flash" class="brief-heart-flash"></ion-icon>
     </span>
    {{_exceedThisV > 0 ? "-" : ""}}${{abs(_exceedThisV).toFixed(2)}}
     <span>
       <ion-icon class="brief-heart" name="md-heart"></ion-icon>
     </span>
    {{_totalThisV - _exceedThisV > 0 ? "-":""}}${{abs(_totalThisV - _exceedThisV).toFixed(2)}}
  </span>
 </h4>
  <ng-progress id="total-this" #totalThis color="#11b245" [min]="1" *ngIf="!_spendingMoreThis"></ng-progress>
  <ng-progress id="exceed-this" #exceedThis color="#ff9763" [min]="0"></ng-progress>
  <ng-progress id="total-this-below" #totalThisBelow color="#11b245" [min]="1" *ngIf="_spendingMoreThis"></ng-progress>
  <h4 class="last-month-label">
   Last Month
   <span>
     <span>
       <ion-icon class="brief-heart-break" name="md-heart"></ion-icon>
       <ion-icon name="md-flash" class="brief-heart-flash"></ion-icon>
     </span>
    {{_exceedLastV > 0? "-":""}}${{abs(_exceedLastV).toFixed(2)}}
     <span>
       <ion-icon class="brief-heart" name="md-heart"></ion-icon>
     </span>
    {{_totalLastV - _exceedLastV > 0?"-":""}}${{abs(_totalLastV - _exceedLastV).toFixed(2)}}
   </span>
  </h4>
  <ng-progress id="total-last" #totalLast color="#11b245" class="lastMonth" [min]="1" *ngIf="!_spendingMoreLast"></ng-progress>
  <ng-progress id="exceed-last" #exceedLast color="#ff9763" class="lastMonth" [min]="0"></ng-progress>
  <ng-progress id="total-last-below" #totalLastBelow color="#11b245" class="lastMonth" [min]="1" *ngIf="_spendingMoreLast"></ng-progress>
  <div class="button-wrapper">
    <button ion-button clear small> View Details </button>
  </div>
</div>

<ion-content *ngIf="!_isLoading && _signedIn">
  <div class="unlinked-wrapper" *ngIf="!_linkedCredential">
    <div class="unlinked" *ngIf="!_linkedCredential">
      <p *ngIf="!_linkedCredential">
        Looks like Coinscious is not quite conscious about any of your account.
      </p>
      <button ion-button block color="secondary" *ngIf="!_linkedCredential" (click)="linkAccount()">Sync my account now</button>
    </div>
  </div>

  <div class="linked" *ngIf="_linkedCredential">

    <!-- <div class="points" (click)="goToDetail()">
        Your Points: {{_point}}
      </div> -->

    <div class="purchases-wrapper">
      <!-- <div>
        {{_demoText}}
      </div> -->
      <div>
        <h2>New Purchases</h2>
        <!-- <ion-badge *ngIf="!_transactions && _transactions.length != 0">{{_transaction.length}}</ion-badge> -->
      </div>
      <!-- <hr/> -->
      <div class="empty-msg" *ngIf="!_transactions || _transactions.length == 0 || emptyTransactions">
        No transactions.
      </div>
      <transaction-group *ngFor="let t of _transactions" [transactions]=t (onApprove)="onApprove($event)" (onFlag)="onFlag($event)"></transaction-group>
      <!-- <transaction-item *ngFor="let t of _transactions" [data]=t [isFlag]=false [isInDetail]=false (onApprove)="onApprove($event)" (onFlag)="onFlag($event)"></transaction-item> -->

      <!--
        <div class="trans_header">
          <h2>Flagged Expenses</h2>
        </div>
        <div class="empty-msg" *ngIf="!_flaggedTransactions || _flaggedTransactions.length == 0">
          No flagged Expenses.
        </div>
        <transaction-item *ngFor="let ft of _flaggedTransactions" [data]=ft [isFlag]=true [isInDetail]=false (onApproveFlag)="onApproveFlag($event)"></transaction-item>
        -->
    </div>
  </div>

</ion-content>