<!--
  Generated template for the DashboardPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Centsei</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="updateTransactions()">
        <ion-icon name="repeat"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div class = "transactions"> 
      <h2>New Transcation</h2>
      <div class="empty-msg" *ngIf="!_transactions || _transactions.length == 0">
        No transactions.
      </div>
      <!-- the first -->
      <div class="date" *ngIf="_transaction_11_appear || _transaction_12_appear || _transaction_13_appear">
        <!-- time -->
        <div class = "time">
            {{_time_1}}
        </div>
        <button class="approve"ion-button icon-only clear (click)="approve1()">
              <ion-icon name="heart"></ion-icon>
        </button>
        <!-- fake 1 -->
        <div class="trans-item" *ngIf="_transaction_11_appear">
          <div class="trans-item-content">
            <div class="trans-item-title">{{_transaction_11_name}}</div>
            <div class="trans-item-text">${{_transaction_11_amount}}</div>
          </div>
          <div class="trans-item-buttons">
            <button ion-button icon-only clear (click)="notApprove11()">
              <ion-icon name="flash"></ion-icon>
            </button>
          </div>
        </div>
        <!-- fake 2 -->
        <div class="trans-item" *ngIf="_transaction_12_appear">
          <div class="trans-item-content">
            <div class="trans-item-title">{{_transaction_12_name}}</div>
            <div class="trans-item-text">${{_transaction_12_amount}}</div>
          </div>
          <div class="trans-item-buttons">
            <button ion-button icon-only clear (click)="notApprove12()">
              <ion-icon name="flash"></ion-icon>
            </button>
          </div>
        </div>
       <!-- fake 3 -->
        <div class="trans-item" *ngIf="_transaction_13_appear">
          <div class="trans-item-content">
            <div class="trans-item-title">{{_transaction_13_name}}</div>
            <div class="trans-item-text">${{_transaction_13_amount}}</div>
          </div>
          <div class="trans-item-buttons">
            <button ion-button icon-only clear (click)="notApprove13()">
              <ion-icon name="flash"></ion-icon>
            </button>
          </div>
        </div>
      </div>

      <br/>
      <!-- the second -->
      <div class="date" *ngIf="_transaction_21_appear || _transaction_22_appear || _transaction_23_appear">
        <!-- time -->
        <div class = "time">
            {{_time_2}}
        </div>
        <button class="approve"ion-button icon-only clear (click)="approve2()">
              <ion-icon name="heart"></ion-icon>
        </button>
        <!-- fake 1 -->
        <div class="trans-item" *ngIf="_transaction_21_appear">
          <div class="trans-item-content">
            <div class="trans-item-title">{{_transaction_21_name}}</div>
            <div class="trans-item-text">${{_transaction_21_amount}}</div>
          </div>
          <div class="trans-item-buttons">
            <button ion-button icon-only clear (click)="notApprove21()">
              <ion-icon name="flash"></ion-icon>
            </button>
          </div>
        </div>
        <!-- fake 2 -->
        <div class="trans-item" *ngIf="_transaction_22_appear">
          <div class="trans-item-content">
            <div class="trans-item-title">{{_transaction_22_name}}</div>
            <div class="trans-item-text">${{_transaction_22_amount}}</div>
          </div>
          <div class="trans-item-buttons">
            <button ion-button icon-only clear (click)="notApprove22()">
              <ion-icon name="flash"></ion-icon>
            </button>
          </div>
        </div>
       <!-- fake 3 -->
        <div class="trans-item" *ngIf="_transaction_23_appear">
          <div class="trans-item-content">
            <div class="trans-item-title">{{_transaction_23_name}}</div>
            <div class="trans-item-text">${{_transaction_23_amount}}</div>
          </div>
          <div class="trans-item-buttons">
            <button ion-button icon-only clear (click)="notApprove23()">
              <ion-icon name="flash"></ion-icon>
            </button>
          </div>
        </div>
      </div>
  </div>


  <br/>
  <br/>


  <div class = "transactions"> 
    <h2>Old Transcation</h2>
    <div class="empty-msg" *ngIf="!_transactions || _transactions.length == 0">
      No transactions.
    </div>

    <!-- the first -->
      <div class="trans-item" *ngIf="!_transaction_11_appear">
        <div class="trans-item-content">
          <div class="trans-item-title">{{_transaction_11_name}}</div>
          <div class="trans-item-text">${{_transaction_11_amount}}</div>
        </div>
      </div>
      <!-- fake 2 -->
      <div class="trans-item" *ngIf="!_transaction_12_appear">
        <div class="trans-item-content">
          <div class="trans-item-title">{{_transaction_12_name}}</div>
          <div class="trans-item-text">${{_transaction_12_amount}}</div>
        </div>
      </div>
     <!-- fake 3 -->
      <div class="trans-item" *ngIf="!_transaction_13_appear">
        <div class="trans-item-content">
          <div class="trans-item-title">{{_transaction_13_name}}</div>
          <div class="trans-item-text">${{_transaction_13_amount}}</div>
        </div>
      </div>
      <!-- the second -->
      <div class="trans-item" *ngIf="!_transaction_21_appear">
        <div class="trans-item-content">
          <div class="trans-item-title">{{_transaction_21_name}}</div>
          <div class="trans-item-text">${{_transaction_21_amount}}</div>
        </div>
      </div>
      <!-- fake 2 -->
      <div class="trans-item" *ngIf="!_transaction_22_appear">
        <div class="trans-item-content">
          <div class="trans-item-title">{{_transaction_22_name}}</div>
          <div class="trans-item-text">${{_transaction_22_amount}}</div>
        </div>
      </div>
     <!-- fake 3 -->
      <div class="trans-item" *ngIf="!_transaction_23_appear">
        <div class="trans-item-content">
          <div class="trans-item-title">{{_transaction_23_name}}</div>
          <div class="trans-item-text">${{_transaction_23_amount}}</div>
        </div>
      </div>

  </div>
</ion-content>