<!-- Generated template for the TransactionItem_2Component component -->

<div class="trans-item">
  <div class="trans-item-content">
    <div class="trans-item-title">
      <span *ngIf="_transaction.loved">
        <ion-icon name="md-heart"></ion-icon>
      </span>
      <span *ngIf="!_transaction.loved">
        <ion-icon name="md-heart" class="break"></ion-icon>
        <ion-icon name="md-flash" class="flash"></ion-icon>
      </span> {{_transaction.name}}
    </div>
    <div class="trans-item-text">${{abs(_transaction.amount).toFixed(2)}}</div>
  </div>
  <div class="trans-item-buttons">
    <!-- <button ion-button icon-only clear (click)="approve()">
      <ion-icon name="thumbs-up"></ion-icon>
    </button> -->
    <button ion-button icon-only clear (click)="approve()" *ngIf="!_transaction.loved">
      <ion-icon name="md-heart"></ion-icon>
    </button>
    <button ion-button icon-only clear (click)="flag()" *ngIf="_transaction.loved">
      <ion-icon name="md-heart" class="break"></ion-icon>
      <ion-icon name="md-flash" class="flash"></ion-icon>
    </button>
  </div>
</div>