<!--
  Generated template for the PushDemoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Coinscious</ion-title>

     <ion-buttons end>
      <button ion-button icon-only (click)="clickRefresh()">
        <ion-icon name="repeat"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding text-center>
  <ion-img *ngIf="linkSuccessfully == false" src="assets/imgs/logo.png" style="width: 500px; height: 500px;"></ion-img>
  <br />
  <br />
  <br />
  <button ion-button block (click)="pushNotification()" *ngIf="linkSuccessfully == false">Link account</button>
  <br/>


  <div *ngIf="linkSuccessfully == true">

    <h2 ion-text text-right>Points: 100</h2>

    <h1 ion-text class="newPurchase">New Purchase</h1>
    <!--
    <ion-row class="align-items-flex-end">
      <h4 ion-text>
        <div class="date"> {{Date}} </div>
        <div class="amount"> {{Amount}} </div>
        <div class="location"> {{Location}} </div>
        <div class="flag" >{{Flag}}</div>
        <div class="apporve" >{{Approve}}</div>
      </h4>
    </ion-row>
  -->

    <ion-row class="align-items-flex-end">
      <h5 ion-text>
        <div class="oneTranscation"> {{demoString1}} {{demoAmount1}} {{demoString2}} {{demoLocation1}} {{demoString3}} {{demoDate1}}</div>
        <ion-checkbox class="flag" ></ion-checkbox>
        <ion-checkbox class="apporve" ></ion-checkbox>
      </h5>
    </ion-row>
<!--
    <ion-row class="align-items-flex-end">
      <h4 ion-text>
        <div class="date"> {{demoDate1}} </div>
        <div class="amount"> {{demoAmount1}} </div>
        <div class="location"> {{demoLocation1}} </div>
        <ion-checkbox class="flag" ></ion-checkbox>
        <ion-checkbox class="apporve" ></ion-checkbox>
      </h4>
    </ion-row>
  -->



    <h1 ion-text class="Flag">Flag</h1>
<!--
    <ion-row class="align-items-flex-end">
      <h4 ion-text>
        <div class="date"> {{Date}} </div>
        <div class="amount"> {{Amount}} </div>
        <div class="location"> {{Location}} </div>
      </h4>
    </ion-row>

    <ion-row class="align-items-flex-end">
      <h4 ion-text>
        <div class="date"> {{demoDate2}} </div>
        <div class="amount"> {{demoAmount2}} </div>
        <div class="location"> {{demoLocation2}} </div>
      </h4>
    </ion-row>
  -->
  <ion-row class="align-items-flex-end">
      <h5 ion-text>
        <div class="oneTranscation"> {{demoString1}} {{demoAmount2}} {{demoString2}} {{demoLocation2}} {{demoString3}} {{demoDate2}}</div>
      </h5>
    </ion-row>

  </div>


  <div>
    {{demoText}}
  </div>
  <br />
  <div *ngFor="let t of transactions">
    <div>{{t.date}} {{t.name}}</div>
    <div>${{t.amount}}</div>
    <br />
  </div>

</ion-content>
