page-push-demo {

.logo {
    margin:0 auto;
    display: inline-block;
}

.newPurchase {
	margin-left: 0;
    margin-right: auto;
    color: red;
}

.Flag {
	margin-left: 0;
    margin-right: auto;
    color: red;
}

.date {
	width: 200px;
	display: inline-block;
}

.amount {
	width: 100px;
	display: inline-block;
}

.location {
	width: 150px;
	display: inline-block;
}

.flag {
	width: 100px;
	display: inline-block;
}

.apporve {
	width: 100px;
	display: inline-block;
}

.oneTranscation {
	margin-left: 0;
	width: 400px;
	display: inline-block;
}

}
